* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #333;
    text-shadow: 0px 4px 3px #abaaaa;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    text-shadow: 0px 0px 0px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #7cc6c9;
    text-shadow: 0px 4px 3px #abaaaa;
}

.logo span {
    color: #999;
}

nav a {
    text-decoration: none;
    margin-left: 30px;
    color: #999;
    font-size: 15px;
}

nav a.active {
    color: #333;
    font-weight: bold;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}

.texto {
    max-width: 500px;
}

.texto h1 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
}

.texto h1 span {
    color: #7cc6c9;
    font-weight: bold;
}

.texto p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
}


.botao {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: #7cc6a3;  
    color: white;     
    padding: 14px 28px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease; 
    text-shadow: 0px 0px 0px;
    box-shadow: 0px 4px 3px #abaaaa;
}


.botao:hover {
    background-color: #25D366; 
}


.botao:hover i {
    color: white;
}


.imagem img {
    width: 400px;
}


footer {
   background: linear-gradient( to bottom, transparent,  #81e6b730 50%, #4ef18a4f 70%);
    text-align: center;
    padding: 40px;
    font-size: 14px;
    color: #666;
}